/* navbar */

.navLinkFade-appear {
  opacity: 0;
  /* transform: translateY(10px) */
}

.navLinkFade-appear.navLinkFade-appear-active {
  opacity: 1;
  transition: opacity .4s ease-in, transform .4s ease-in;
}

.nav-ul li {
  opacity: 0;
}

.burger {
  display: block;
}

/* .lg-nav-logo {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 80%;
  margin-top: -50px;
} */