body {
  margin: 0;
  font-family:  'Alegreya Sans',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Alegreya Sans',source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.guestDropDown {
  text-align: center;
  font-size: 1.3em;
  border: 1px solid #827553;
  color: #333333;
  padding: 5px;
}

.guestDropDown:hover {
  color: #827553;
}

.modal::-webkit-scrollbar {
  width: 1em;

}
.modal::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px grey;
}

.modal::-webkit-scrollbar-thumb {
  background-color: darkgray;
  outline: 1px solid black;
}

.calendar	{
  width: 500px;
}

.calendar-month_header_title {
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-size: 20px;
  color: #827553;
}

.calendar-month_header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
}

.calendar-days_of_week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  background: #827553;
  border: 1px solid #827553;
  border-radius: 5px;
}

.calendar-days_of_week_day {
  margin: 0 5px 0 -20px;
  color: white;
}

.calendar-day {
  width: 14%;
  height: 30px;
  border: none;
  padding: 10px 5px;
  font-size: 0.9em;
  /* color: red; */
}

.calendar-day:hover {
  background: #827553;
  color: white;
  border: none;
}

.is-today{
  color: white;
  background: #827553;
}

.is-selected {
  color: red;
  background: #e3effc;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 2px solid red;
}

.calendar-header_button {
  background: rgba(0,0,0,0);
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid black;
}

.is-prev_month, .is-next_month{
  color: rgba(200,200,200, .85);
}

.modal-container {
  display: flex;
  justify-content: center;
}

.resModalBtn {
  border: none;
  height: 50px;
  width: 130px;
  background: #827553;
  color: white;
  border-radius: 5px;
  margin: 20px 0 0 0;
  font-size: 12px;
}